

<div class="dashboard-title">
  דשבורד ניהול שיעורים
  <!-- <div class="dashboard-header">
    <h1>דשבורד</h1>
  </div> -->
</div>

  <div class="dashboard-content">
    <div class="dashboard-card">
      <!-- <h2>סך כל התלמידות</h2> -->
      <p>תלמידות: {{ this.students.length }} </p>
    </div>

    <div class="dashboard-card">
      <!-- <h2>סך כל הקורסים</h2> -->
      <p>קורסים: {{ this.lessons.length }} </p>
    </div>
  </div>
<div>
  <div class="admin-buttons">
  <button mat-raised-button color="primary" (click)="goToLessons()">מעבר לקורסים</button>
  <button mat-raised-button color="accent" (click)="goToStudents()">מעבר לתלמידות</button>
</div>

  

 <div class="charts-container">
  <ngx-charts-bar-vertical-2d
    [view]="[900,400]"
    [scheme]="colorScheme"
    [results]="barData"
    [gradient]="false"
    [xAxis]="true"
    [yAxis]="true"
    [legend]="true"
    [showXAxisLabel]="true"
    [showYAxisLabel]="true"
    xAxisLabel="קורס"
    yAxisLabel="מספר תלמידות">
  </ngx-charts-bar-vertical-2d>
</div>
<!-- <div>
  <ngx-charts-pie-chart
  [results]="pieData"
  [legend]="true"
  [labels]="true"
  [doughnut]="false"
  [view]="[400,400]">
</ngx-charts-pie-chart>
</div> -->
</div>
