<mat-card class="lesson-details">
          <img [src]="lesson.imageUrl" alt="{{ lesson.lessonName }}">

  <mat-card-header>
    <mat-card-title class="title">{{ lesson.lessonName }}</mat-card-title>
    <mat-card-subtitle  class="subtitle">
      מורה: {{ teacherName }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="lesson-info">
      <p><strong>יום:</strong> {{ lesson.day }}</p>
      <p><strong>שעה:</strong> {{ lesson.time }}</p>
      <p><strong>חדר:</strong> {{ lesson.room }}</p>
      <p><strong>מחיר:</strong> {{ lesson.price }} ₪</p>
      <p><strong>תלמידות:</strong> {{ lesson.currentStudents }}/{{ lesson.maxStudents }}</p>
      <p><strong>סטטוס:</strong> {{ lesson.status }}</p>
      <p><strong>תאריך התחלה:</strong> {{ lesson.dateOfBegin | date:'dd/MM/yyyy' }}</p>
    </div>
  </mat-card-content>
</mat-card>

<div mat-dialog-actions align="end" *ngIf="data">
      <!-- <button mat-raised-button color="primary" mat-button mat-dialog-close>סגור</button> -->
       <button mat-icon-button mat-dialog-close style="float:left">
  <mat-icon>close</mat-icon>
</button>
</div>